.confirmbox{
    background-color: blue;
    height: auto;
    margin-top: 20px;
    background-color: rgb(218, 191, 155);
    width:50% ;
    margin-left:200px ;
}

.form1{
    padding: 25px;
    font-family: fantasy;
    
}

header,footer{
    background-color: cornflowerblue;
}